/*------------ GENERALES ------------ */
html * {
  box-sizing: border-box;
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  font: 300 14px "Open sans", Arial, sans-serif;
  color: #111;
  letter-spacing: 1px;
  line-height: 25px;
}
p {
    margin-bottom: 10px; 
}
p:last-child {
    margin-bottom: 0;
}
a {
  text-decoration: none;
  color: black;
}
.landing,
.about,
.works,
.contact {
  width: 100%;
  height: 1024px;
}
.letter-big {
  font-size: 144px;
  cursor: default;
  font-weight: 800;
}
.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.position-absolute {
  position: absolute;
}
.background {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.titulo-mediano {
  font-size: 36px;
  font-weight: 800;
  letter-spacing: 5px;
  line-height: 40px;
  margin-bottom: 50px;
}
.titulo-pequeño {
  font-weight: 400;
}
.texto-small {
  font: italic 100 12px "Open Sans";
  letter-spacing: 1px;
}
.contact,
.about,
.contact__columnader,
.proyectos,
.proyectos__columnaiz,
.proyectos__columnader, 
.pagination {
  display: flex;
}
.proyectos__columnaiz__letras__w,
.proyectos__columnaiz__letras__r,
.proyectos__columnaiz__letras__s,
.works__columnaizquierda__o,
.works__columnaizquierda__s {
  color: rgb(238, 155, 209);
}
.proyectos__columnaiz__letras__o,
.proyectos__columnaiz__letras__k,
.works__columnaizquierda__letras {
  color: #f1d2e6;
}
.contact,
.proyectos__columnaiz,
.proyectos__columnaiz__info,
.proyectos__columnader {
  flex-wrap: wrap;
}
.landing__informacion p,
.landing__informacion h3,
.about__columnaizquierda h2,
.contact__footer, 
.proyectos__columnaiz__info__texto h2,
.subtitulo-proyectos {
  text-align: center;
}
.about__columnaderecha__letras div,
.contact__columnaizq__co,
.contact__columnaizq__nta,
.contact__columnaizq__ct {
  color: white;
  opacity: 0.8;
}
.about__columnaderecha,
.contact__columnader__info,
.contact__columnaizq,
.contact__columnader__info__impor,
.landing__informacion, 
.pagination__old, 
.pagination__next {
  position: relative;
}

/*------------ LANDING PAGE ------------ */
.landing {
  background-image: url(/assets/img/background-pink.png);
}
/*--- Landing Page Menu ---*/
.landing__navegacion {
  position: fixed;
  top: 30px;
  right: 30px;
  font-weight: 800;
  letter-spacing: 7px;
  text-align: right;
  line-height: 30px;
  padding: 5px;
  z-index: 999;
}
.landing__navegacion ul {
  list-style: none;
  padding: 0;
}
#about-nav:hover, 
.subtitulo-proyectos a {
  color: #fa4cba;
}
#works-nav:hover {
  color: #166de8;
}
#contact-nav:hover {
  color: #ab2fdb;
}
#about-nav:before,
#works-nav:before,
#contact-nav:before {
  content: "";
  width: 0%;
  height: 15px;
  z-index: -1;
  background-position: left top;
  transition: width 0.4s ease-out 0s;
  position: absolute;
  top: 0;
  right: 0;
}
#about-nav:before {
  background: linear-gradient(90deg, #fe9bce, #f9d9e9);
  top: 20%;
}
#works-nav:before {
  background: linear-gradient(90deg, #88d1de, #d0ecf3);
  top: 50%;
}
#contact-nav:before {
  background: linear-gradient(90deg, #c68fd8, #e8d0f1);
  top: 80%;
}
#about-nav:hover:before,
#works-nav:hover:before,
#contact-nav:hover:before {
  width: 100%;
}

/*--- Landing Page Informacion ---*/
.landing__informacion {
  left: 300px;
}
.landing__informacion h1 {
  font-size: 120px;
  text-transform: uppercase;
  letter-spacing: 35px;
  font-weight: 600;
  line-height: 160px;
}
.landing__informacion img {
  top: 10px;
}
.landing__informacion p {
  font-size: 15px;
  font-weight: 400;
  z-index: 1;
  margin-bottom: 80px;
}


/*------------ ABOUT ------------ */
.about {
  background-image: url(/assets/img/background2.jpg);
}
.about__columnaizquierda,
.about__columnaderecha {
  margin-top: 130px;
  margin-bottom: 130px;
  padding: 20px;
}

/*--- Columna derecha ---*/
.about__columnaderecha {
  margin-right: 120px;
  width: 45%;
  text-align: left;
}
.about__columnaderecha img {
  top: 100px;
}
img.about__columnaderecha__rectangulo {
  top: 45px;
  left: 150px;
}
.about__columnaderecha__a {
  top: 70px;
  left: 200px;
  animation: activebob 1s infinite;
}
@keyframes activebob {
  0% {
    -webkit-transform: translateY(-16px);
    transform: translateY(-16px);
  }
  50% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  100% {
    -webkit-transform: translateY(-16px);
    transform: translateY(-16px);
  }
}
.about__columnaderecha__b {
  top: 200px;
  left: 370px;
}
.about__columnaderecha__t {
  top: 700px;
  left: 120px;
}
.about__columnaderecha__u {
  top: 500px;
  left: 360px;
}
.about__columnaderecha__o {
  top: 400px;
  left: 0;
}

/*--- Columna izquierda ---*/
.about__columnaizquierda {
  margin-left: 120px;
  width: 55%;
  overflow: hidden;
}
.about__columnaizquierda__texto {
  width: 90%;
  margin: 0 auto;
  height: 80%;
}
.about__columnaizquierda__texto p {
  margin-top: 15px;
  margin-bottom: 15px;
}
.about__columnaizquierda__texto p:first-child {
  margin-top: 0;
}
.about__columnaizquierda__texto p:last-child {
  margin-bottom: 0;
}


/*------------ WORKS ------------ */
.works {
  display: flex; 
}
.works__columnaderecha, .works__columnaizquierda {
  width: 50%; 
  padding: 20px;  
}
.works__columnaizquierda {
  position: relative;
  display: flex; 
  justify-content: center; 
  align-items: center;
}
.works__columnaizquierda__proyectos {
  position: absolute;
  left: 140px;
  max-width: 100%; 
  padding: 20px;     
}
.works__columnaizquierda__proyectos li h2{
  font-size: 24px; 
  font-weight: 700; 
  text-transform: uppercase; 
  letter-spacing: 5px;  
  line-height: 50px;  
}
.works__columnaizquierda__proyectos li h1{
  font-size: 48px; 
  font-weight: 700; 
  text-transform: uppercase; 
  letter-spacing: 5px;  
  line-height: 70px;  
}
.works__columnaizquierda__letras{
  color: #F1D2E6; 
  font-size: 144px;    
}
.works__columnaizquierda__w, .works__columnaizquierda__o, .works__columnaizquierda__r, .works__columnaizquierda__k, .works__columnaizquierda__s {
  position: absolute;
  font-weight: 800; 
}
.works__columnaizquierda__w {
  top: 130px; 
  left: 100px; 
}

.works__columnaizquierda__o {
  top: 270px; 
  left: 200px; 
  color: rgb(238, 155, 209);
}
.works__columnaizquierda__r {
  top: 270px; 
  left: 350px; 
}
.works__columnaizquierda__k {
  bottom: 230px; 
  left: 250px; 
}
.works__columnaizquierda__s {
  bottom: 130px; 
  left: 400px; 
}

/* Columa derecha */
.works__columnaderecha {
  background-image: url(/assets/img/triangulo.png); 
  background-repeat: no-repeat; 
  background-position: center right; 
  overflow: hidden;
  position: relative;
  text-align: center; 
}
.works__columnaderecha__img {
  width: 400px;
  height: 90%;
  border: 2px solid plum;
}

p.works__columnaderecha__see {
  font-size: 12px;  
  font-weight: 700; 
  position: absolute;
  top: 490px; 
  right: 70px;
}


/*------------ CONTACT ------------ */
.contact {
  background-image: url(/assets/img/background5.jpg);
}
.contact__columnader,
.contact__columnaizq {
  height: 95%;
}

/*--- Columna derecha ---*/
.contact__columnader {
  width: 70%;
  align-items: center;
}
.contact__columnader__info {
  margin-left: 150px;
}
.contact__columnader__info img {
  opacity: 0.6;
  position: absolute;
  top: 65px;
  left: 100px;
}
.contact__columnader__info h3 {
  font-weight: 800;
  letter-spacing: 5px;
  line-height: 43px;
  margin-left: -30px;
}
.contact__columnader__info h2.titulo-mediano {
  margin-bottom: 0;
}
.contact__columnader__info a:hover {
  opacity: 0.6;
}

/*--- Columna izquierda ---*/
.contact__columnaizq {
  width: 30%;
}
.contact__columnaizq__co,
.contact__columnaizq__nta,
.contact__columnaizq__ct {
  letter-spacing: 28px;
  left: 60px;
  font-weight: 800;
  font-size: 144px;
}
.contact__columnaizq__co {
  top: 290px;
}
.contact__columnaizq__nta {
  top: 470px;
}
.contact__columnaizq__ct {
  top: 655px;
}
/*--- Contact Footer ---*/
.contact__footer {
  width: 100%;
}
.contact__columnader__info__impor {
  z-index: 10;
  margin-top: 30px; 
}


/*------------ PROYECTOS ------------ */
.proyectos {
  justify-content: center;
}
.proyectos__close {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  text-align: center;
  right: 100px;
  top: 50px;
}

/*--- Columna izquierda ---*/
.proyectos__columnaiz {
  width: 55%;
  justify-content: flex-end;
}

img.proyectos__columnaiz__background {
  left: 0;
  z-index: -1;
}
.proyectos__columnaiz__info {
  justify-content: center;
  align-items: center;
}
div.proyectos__columnaiz__info__img {
  margin: 0 auto;
  margin-top: 316px;
  width: 560px;
  height: 560px;
  border: 5px solid blue;
  margin-bottom: 50px;
}
.proyectos__columnaiz__info__texto {
  width: 660px;
}
.proyectos__columnaiz__letras__w,
.proyectos__columnaiz__letras__o,
.proyectos__columnaiz__letras__r {
  top: 150px;
}
.proyectos__columnaiz__letras__w {
  left: 40px;
}
.proyectos__columnaiz__letras__o {
  left: 220px;
}
.proyectos__columnaiz__letras__r {
  left: 370px;
}
.proyectos__columnaiz__letras__k {
  top: 330px;
  left: 62px;
}
.proyectos__columnaiz__letras__s {
  top: 500px;
  left: 69px;
}
.proyectos__columnaiz__info__texto__paleta {
  margin: 0 auto;
  margin-top: 50px;
  width: 560px;
  height: 560px;
  border: 5px solid blue;
  margin-bottom: 50px;
}
.proyectos__columnaiz__info__texto__tipografia {
  margin: 0 auto;
  margin-top: 50px;
  width: 560px;
  height: 450px;
  border: 5px solid blue;
  margin-bottom: 50px;
}

/*--- Columna derecha ---*/
.proyectos__columnader {
  width: 45%;
  align-items: center;
  justify-content: flex-start;
  height: 1900px;
}
div.proyectos__columnader__imagen,
div.proyectos__columnader__logo {
  width: 423px;
  border: 5px solid blue;
  margin-left: 50px;
}
div.proyectos__columnader__imagen {
  margin-top: 200px;
  height: 1370px;
}
div.proyectos__columnader__logo {
  margin-top: 30px;
  height: 150px;
}

/*--- Galeria ---*/
.galeria {
width: 100%;
margin-top: 60px;
}
.galeria__img {
  border: 3px solid darkmagenta; 
  height: 600px; 
  width: 760px;
}
/*--- Pagination ---*/
.pagination {
  justify-content: space-between;
  margin-bottom: 100px;
  margin-top: 60px;
  text-transform: lowercase;
}
.pagination__old {
  left: 150px; 
}
.pagination__next {
  right: 150px;
}

/*--- Copyright proyectos ---*/
.contact__footer-proyectos {
  margin-bottom: 20px;
}